In [1]:
import fastf1

In [2]:
session = fastf1.get_session(2024, "Saudia Arabian Grand Prix", "R")
session.load()

req         WARNING 	DEFAULT CACHE ENABLED! (2.59 GB) /Users/seansica/Library/Caches/fastf1
events      WARNING 	Correcting user input 'Saudia Arabian Grand Prix' to 'Saudi Arabian Grand Prix'
core           INFO 	Loading data for Saudi Arabian Grand Prix - Race [v3.5.3]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '16', '81', '14', '63', '38', '4', '44', '27', '23', '20', '31', '2', '22', '3', '77', '24', '18', '10']

In [15]:
session.race_control_messages[session.race_control_messages['Category'] == 'SafetyCar']

,Time,Category,Message,Status,Flag,Scope,Sector,RacingNumber,Lap
20,2024-03-09 17:14:05,SafetyCar,SAFETY CAR DEPLOYED,DEPLOYED,None,None,NaN,None,7
25,2024-03-09 17:20:12,SafetyCar,SAFETY CAR IN THIS LAP,IN THIS LAP,None,None,NaN,None,9

In [12]:
session.race_control_messages.iloc[7]['Message']

'PIT LANE INCIDENT INVOLVING CARS 22 (TSU) AND 4 (NOR) NOTED - UNSAFE RELEASE'